body {
  font-size: 18px;
}
ul{
  list-style-type:none;
  padding: 0;
}
li{
  padding: 0 4px 0 4px;
}
a{
  cursor: pointer;
}
.line-up {
    display: flex;
    flex-direction: row;   
}
.image-wrap {
    height: 150px;
    width: 150px;
    display: inline-flex;
    align-items: center;
}
.image-wrap img{
    height: 100%;
    width: 100%;
    border-radius: 90px;
}
.center-text {
  text-align: center;
}
hr {
  border-top: 1px solid #333319!important;
}